extends ../templates/_template.pug 
include ../components/text_field/field.pug

//- status - текст слева справа над полем для ввода
 statusBool - нужно ли поле status
 text - текст который будет в placeholde
 hover - будет ли срабатывать изменение внешнего вида при наведении
 dropdown - будет ли стрелочка для выпадающегося списка
 read - можно ли изменять текст
 fieldLabel - название поля слева справа
 size - размер поля. 1 -стандарт 2-среднее 3 - самое меленькое
 arrow - стрелка для поля с EMail

block content
    .test
        +text_field()
        +text_field("HOVER / FOCUS","This is pretty awesome",hover= false) 
        +text_field("DROPDOWN", "Сколько гостей",hover = true,dropdown=true, read =true, fieldLabel="DROPDOWN") 
        +text_field("DEFULT","ДД.ММ.ГГГГ",hover = true,dropdown=false, read =false, fieldLabel="MASKED TEXT FIELD",inputType = "text")
        +text_field("DEFULT","ДД.ММ.ГГГГ",hover = true,dropdown=true, read =true, fieldLabel="DATE DROPDOWN",inputType = "text", statusBool = false, size = 3)
        +text_field("DEFULT","19.08.2019",hover = true,dropdown=true, read =true, fieldLabel="DATE DROPDOWN",inputType = "text", statusBool = false, size = 3)
        +text_field("DEFULT","19 авг - 23 авг",hover = true,dropdown=true, read =true, fieldLabel="FILTER DATA DROPDOWN",inputType = "text", statusBool = false, size = 2)
        +text_field("DEFULT","Email",hover = true,dropdown=false, read =false, fieldLabel="SUBSCRIPTION TEXT FIELD ",inputType = "Email", statusBool = false, size = 2, arrow = true)
        +text_field("DROPDOWN", "Сколько гостей",hover = true,dropdown=true, read =true, fieldLabel="DROPDOWN",inputType = "Email", statusBool = true, size = 2, arrow = false, valueInput = "2 спальни, 2 кровати...") 
        +text_field("DEFULT", "Сколько гостей",hover = true,dropdown=true, read =true, fieldLabel="DROPDOWN",inputType = "Email", statusBool = true, size = 2, arrow = false, valueInput = "2 спальни, 2 кровати...")
        +dropdown("Спальни", "Кровати", "Ванные комнаты")